# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Study\Classes\2021 Class\4th Year Data 2021\Graduation Project\Automated-CAD-Scoring-Suite\Remote-Communication-Module-for-3D-Slicer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
